@charset "utf-8";

html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}del,ins{text-decoration:none;}

a { text-decoration: none; }

/* colours */
html { min-height: 100%; background: #ffef; }
body { color: #000; min-height: 100%; }
a { color: #c03; }
.footnoteReference { color: inherit; border-bottom: 1px solid #ccc; cursor: default; }
a:visited { color: #903; }
#breadcrumbs a:visited:after, #languages a:visited:after, #meta a:visited:after { content:''; }

/* typography */
body { font: 18px/28px 'Mate', garamond, georgia, serif; }
em { font-family: 'Mate', garamond, georgia, serif; font-style: italic; }
.footnotes, .home #teaser .footnotes { font-size: 16px; line-height: 28px }
.footnoteReference { font-size: inherit; }
.caps { font-family: 'Mate SC', garamond, georgia, serif; text-transform: lowercase; letter-spacing: 1px; }
p+p { text-indent: 28px; }
p.first { text-indent: 0; }
.right { text-align: right; }
body.poem #text { white-space: nowrap; }
.overline { text-decoration: overline; }
ol li { display: list-item; list-style-type: decimal; padding-bottom: 12px; }

h1 { font-size: 32px; margin-bottom: 10px; margin-top: 10px }
h2 { font-size: 26px; margin-top: 52px; margin-bottom: 10px; }

.translation, .nothing { color: #ccc; }

/* layout */
body { margin: 24px 10% 10% 30%; }

#side, #breadcrumbs { position: fixed; top: 24px; left: 24px; }
#languages { position: fixed; bottom: 24px; left: 24px; }
#meta { margin-top: 60px; font-size: 16px; }
#meta li { display: block; float: left; margin-right: 24px }

#sections { margin-top: 56px; }
#sections h2 { margin-top: 10px }

.home h1 { font-size: 42px; line-height: 36px; margin: 0; padding: 0; color: #ccc }

.home #teaser { margin: 100px 0; }
.home #teaser div { height: 256px; overflow: hidden; font-size: 24px; line-height: 36px }

/* footnotes */
.footnotes li { display: none; white-space: normal; }
.footnotes li.active { display: block; position: absolute; right: 24px; width: 20%; margin-top: 24px; }
.footnotes .footnoteReference { }

/* next poem link */
#next { margin-top: 1em; }

/* breadcrumbs */
#breadcrumbs { width: 26%; text-overflow: ellipsis; overflow: hidden; }
#breadcrumbs .poems { list-style-type: none; margin-left: 24px; font-size: 16px; white-space: nowrap; }
#breadcrumbs .current a { color: #000; }
.arrow { font-size: 16px; line-height: 24px; width: 22px; float: left; margin-left: -24px; text-align: right; }

/* languages */
#languages .current a { color: #000; }

.unavailable>a, #languages .unavailable>a { color: #999; }
.highlighted>a { font-size: 150%; }

/* notices */
.notice { color: #069; padding: 12px 0px; width: 50%; }

#description { font-size: 120%; padding: 12px 0px; }
hr { display: none; }

#portrait { width: 148px; height: 221px; margin: 0 18px 24px 0; float: left; position: relative; top: 5px; left: 1px; border: 1px solid #666; -webkit-box-shadow: 0px 2px 3px #999; }

/* audio */
.bb-play {
  background: #eee;
  border-radius: 40px;
  cursor: pointer;
  text-align: center;
  display: block;
  width: 38px;
  height: 38px;
  margin: 20px 0;
}
.bb-play .play, .bb-play .pause {
  width: 20px;
  height: 20px;
  margin: 9px;
}
.bb-trackTime, .bb-trackLength, .bb-trackTitle {
  display: none;
}
.bb-play .pause {
  display: none;
}
.bb-playing .play {
  display: none;
}
.bb-playing .pause {
  display: inline;
}

@media print {
  body { margin: 24px 10% 10% 20%; }
  #breadcrumbs, #languages, #next { display: none; }
  .footnotes { margin-left: -10%; margin-top: 48px; }
  .footnotes .footnoteReference { font-size: 12px; }
  .footnotes li { display: block; margin-top: 1em; font-size: 12px; line-height: 20px }
  .footnotes li.active { position: relative; top: 0; left: 0; width: auto; margin-top: 1em; }
  .bbplayer { display: none; }

}
